<tbody>
    <tr align="center">
        <td>
            <%= check_box_tag "del_timeframe_ids[]", tf_list.id %>
        </td>
        <td><%= tf_list.id %></td>
        <td><%= tf_list.tf_title %></td>
        <td><%= tf_list.tf_start %></td>
        <td><%= tf_list.tf_end %></td>
        <td><%= tf_list.speaker_id %></td>
        <td><%= tf_list.event_id %></td>
        <td><%= tf_list.ro_id %></td>
        <td>
            <%= link_to t("tf.button.edit"), edit_time_frame_path(tf_list), class: "btn btn-default" %>
        </td>
    </tr>
</tbody>
