<div class="notice" class="row">
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
</div>
<title><%= t("rooms.title") %></title>
<h3><%= t("rooms.title") %></h3>
<%= form_tag destroy_rooms_path_url, method: :delete do %>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th><%= t("rooms.th_del") %></th>
        <th><%= t("rooms.th_id") %></th>
        <th><%= t("rooms.th_name") %></th>
        <th><%= t("rooms.th_type") %></th>
        <th></th>
      </tr>
    </thead>
    <%=  render partial: "room", collection: @rooms, as: :room %>
  </table>

  <div class="row">
    <div class="col-md-1">
      <%= link_to t("rooms.button.new"), new_room_path, class: "btn btn-default" %>
    </div>
    <div class="col-md-1">
      <%= submit_tag t("rooms.button.del"), data: { confirm: t("rooms.confirm") }, class: "btn btn-default" %>
    </div>
    <div class="col-md-7 paging">
      <%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>
