<%= render "shared/flash" %>
<title><%= t("user.title") %></title>
<h3><%= t("user.title") %></h3>
<%= form_tag admin_destroy_users_path_url, method: :delete do %>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th><%= t("user.th_del") %></th>
        <th><%= t("user.th_id") %></th>
        <th><%= t("user.name") %></th>
        <th><%= t("user.full_name") %></th>
        <th><%= t("user.email") %></th>
        <th><%= t("user.phone") %></th>
        <th><%= t("user.role") %></th>
        <th></th>
      </tr>
    </thead>
    <%= render partial: "user", collection: @users %>
  </table>
  <div class="row">
    <div class="col-md-1">
      <%= link_to t("user.button.new"), new_admin_user_path, class: "btn btn-default" %>
    </div>
    <div class="col-md-1">
      <%= submit_tag t("user.button.del"), data: { confirm: t("user.confirm") }, class: "btn btn-default" %>
    </div>
    <div class="col-md-7 paging">
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>
