<%= render "shared/flash" %>
<h3><%= t("speaker.infor") %></h3>
<div class="container-fluid">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-md-3">
      <p><strong><%= t("speaker.th_fn") %>:</strong>
        <%= @speaker.sp_firstname %>
      </p>
    </div>
    <div class="col-md-2">
      <p><strong><%= t("speaker.th_ln") %></strong>
        <%= @speaker.sp_lastname %>
      </p>
    </div>
    <div class="col-md-3">
      <p><strong><%= t("speaker.th_phone") %>:</strong>
        <%= @speaker.sp_phone %>
      </p>
    </div>
    <div class="col-md-3">
      <p><strong><%= t("speaker.th_email") %>:</strong>
        <%= @speaker.sp_email %>
      </p>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row">
    <div class="row_infor">
      <div class="row_1">
        <p><strong><%= t("speaker.th_major") %>:</strong>
          <%= @speaker.sp_major %>
        </p>
      </div>
      <div class="row_1">
        <p><strong><%= t("speaker.th_desc") %>:</strong>
          <%= @speaker.sp_description %>
        </p>
      </div>
    </div>
    <div class="row_avatar">
        <%= image_tag(@speaker.sp_avatar.to_s) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <%= link_to t("speaker.button.edit"), edit_speaker_path(@speaker), class: "btn btn-default" %>
  </div>
  <div class="col-md-2">
    <%= link_to t("speaker.button.back"), speakers_path, class: "btn btn-default" %>
  </div>
</div>

