<nav>
  <% if logged_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("menu.home"), root_path %></li>
      <li><%= link_to t("menu.room"), rooms_path %></li>
      <li><%= link_to t("menu.speaker"), speakers_path %></li>
      <li><%= link_to t("menu.event"), events_path %></li>
      <li><%= link_to t("menu.evt_detail"), controller: "time_frames", action: "list" %></li>
      <li><%= link_to t("menu.user"), users_path %></li>
      <li><%= link_to t("menu.role"), roles_path %></li>
      <li class="dropdown" >
          <%= link_to root_path,
            "data-toggle": "dropdown", class: "dropdown-toggle" do %>
             <%= t("menu.account") %>
             <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t("menu.profile"), current_user %></li>
            <li><%= link_to t("menu.setting"), edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to t("menu.logout"), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
      </li>
    </ul>
  <% end %>
</nav>
<nav>
  <% unless logged_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("menu.home"), "/"%></li>
      <li><%= link_to t("nav.envent_list"), events_path %></li>
      <li><%= link_to t("nav.speaker"), speakers_path %></li>
      <li><%= link_to t("menu.login"), login_path %></li>
      <li><%= link_to t("menu.signup"), register_path %></li>
    </ul>
  <% end %>
</nav>
